.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: end;

    table {
        text-align: center;
        table-layout: fixed;
        border: 1px solid black;
        border-collapse: collapse;
        width: 10em;

        th {
            color: white;
            background-color: black;
        }

        .void {
            height: 10em;
            width: 10em;
        }

        .left-side {
            width: 10em;
            height: 10em;

            tr {
                white-space: nowrap;
                border: 2px solid black;
                border-left: transparent;

                th {
                    width: 20%;
                    border: inherit;
                    border-collapse: inherit;
                }

                td {
                    text-align: right;
                    padding-right: 0.5em;
                }

                span {
                    position: absolute;
                    transform-origin: left;
                    transform: rotate(-90deg) translateX(-25%);
                    -ms-transform: rotate(-90deg) translateX(-25%);
                    -webkit-transform: rotate(-90deg) translateX(-25%);
                }
            }
        }

        .top-side {
            width: 10em;
            height: 10em;

            tr {
                white-space: nowrap;
                border: 2px solid black;

                th {
                    height: 20%;
                    border: inherit;
                }

                td {
                    width: 20%;
                    border: inherit;
                    text-align: center;
                }

                span {
                    position: absolute;
                    transform-origin: left;
                    transform: rotate(-90deg) translateX(-25%);
                    -ms-transform: rotate(-90deg) translateX(-25%);
                    -webkit-transform: rotate(-90deg) translateX(-25%);
                }
            }
        }

        .clickable {
            tr {
                border: 2px solid black;
                border-collapse: collapse;

                td {
                    width: 20%;
                    height: 20%;
                    cursor: pointer;
                    border: 2px solid black;
                    border-collapse: collapse;
                }

                td:hover {
                    background-color: #f2f2f2;
                }
            }
        }
    }
}
