.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: end;
    width: 36em;
    font-size: 90%;

    table {
        text-align: center;
        table-layout: fixed;
        border-collapse: collapse;
        width: 9em;

        .overed {
            background-color: #505050;
        }

        th {
            color: white;
            background-color: black;
        }

        .void {
            height: 9em;
            width: 9em;
        }

        .left-side {
            height: 9em;
            width: 9em;

            tr {
                white-space: nowrap;
                border: 2px solid black;
                border-left: transparent;

                th {
                    width: 20%;
                    border: inherit;
                    border-collapse: inherit;
                }

                td {
                    text-align: right;
                    padding-right: 0.5em;
                }

                span {
                    position: absolute;
                    transform-origin: left;
                    transform: rotate(-90deg) translateX(-25%);
                    -ms-transform: rotate(-90deg) translateX(-25%);
                    -webkit-transform: rotate(-90deg) translateX(-25%);
                }
            }
        }

        .top-side {
            height: 9em;
            width: 9em;

            tr {
                white-space: nowrap;
                border: 2px solid black;

                th {
                    height: 20%;
                    border: inherit;
                }

                td {
                    width: 20%;
                    border: inherit;
                    text-align: center;
                }

                span {
                    position: absolute;
                    transform-origin: left;
                    transform: rotate(-90deg) translateX(-25%);
                    -ms-transform: rotate(-90deg) translateX(-25%);
                    -webkit-transform: rotate(-90deg) translateX(-25%);
                }
            }
        }

        .clickable {
            height: 9em;
            width: 9em;

            tr {
                height: 20%;
                border: 2px solid black;
                border-collapse: collapse;

                td {
                    cursor: pointer;
                    border: 2px solid black;
                    border-collapse: collapse;
                    padding: 0;

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 60%;
                            -webkit-user-select: none;
                            -khtml-user-select: none;
                            -moz-user-select: none;
                            -o-user-select: none;
                            user-select: none;
                        }
                    }
                }

                td:hover {
                    background-color: #f2f2f2;
                }
            }
        }
    }
}
