.hint_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.hint_item {
    flex-grow: 1;
    flex-basis: 40%;
    box-sizing: border-box;
    margin: 0px;
    height: 5vh;
    margin-right: 0.6vw;
}